body {
  background-color: #FFF;
  color: #530;
  font-family: Trebuchet MS, Verdana;
  font-size: 1.4em;
}

#metaspace { 
  display: none;
}

.section {
  height: 700px;
}

li { 
  min-height: 50px;
}